.footer-logo {
  max-height: 80px;
}
.footerlist {
  list-style: none;
}
.footerlist li:first-child {
  margin-left: 0;
  color: #333;
}
.footerlist li {
  margin-left: 20px;
  color: #333;
  }
#site-map {
  padding: 30px 0;
}
.small-text {
  font-size: 14px !important;
}
#checklist {
  padding: 10px 10px 20px;
}
#checklist li{
  margin: 0;
  padding: 0;
}
.testimonial {
  border: double 3px #239dd7;
  padding: 20px;
  margin-top: 50px;
  background: #fcfcfc;
  box-shadow: 0 0 5px #bbb;
}
.testimonial img{
  border: 1px solid #000;
}
.testimonial img:hover{
  opacity: .5;
  }
body {
  overflow-x: hidden !important;
}
#myModal {
  overflow-y: scroll;
  position: fixed;
  top: 0 !important;
}
.panel {
  background: #fff !important;
}
/* My Custom CSS Outside Foundation */
/* Header */
#header {
  background: #fff;
}
#header img {
padding: 0 50px;
}
#header h1 {
  color: #000;
  text-align:center;
  margin-top:-18px;
  margin-left: 65px;
  margin-bottom: 20px;
  font-size: 20px;
}
#top-bar {
height: 30px;
}
#middle {
  background: #fff;
}
.weatherCity {
  font-size: 10px;
}
.weatherTemp {
  font-size: 12px;
}
.weatherDesc {
  font-size: 12px;
}
.weatherCity {
  font-size: 10px;
}
.weatherItem {
  background-position: top right;
  background-size: 100px auto;
  margin-right: 50px;
}
#time, #weather {
  margin-top: 30px;
}
#menu {
background: #239dd7;
}

#menu ul {
  text-align: center;
  margin: 0;
  padding: 5px 0;
}
#menu ul li {
  display: inline;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
}
#menu ul li a {
  display: inline;
  text-align: center;
  color: #fff;
  padding: 10px 12px;
}
#menu ul li a:hover {
  display: inline;
  text-align: center;
  color: #000;
  text-decoration: underline;
}

#services-menu {
  padding: 20px 0 0;
  background: #239dd7;
  width: 100%;
  display: none;
}
.slicknav_nav li:nth-child(2) {
  display: none !important;
}
#services-menu li{
  padding: 0;
}
#services-menu a {
  color: #fff;
}
/* Home Hero */
#hero {
  background: #DDFFFE;
  position: relative;
  max-width: 100%;
  display: block;
  height: 450px;
  overflow: hidden;
}
#hero h1 {
  color: #fff;
  font-weight:bold;
  text-shadow: 1px 1px 3px #000;
}
#skyline {
z-index: 10;
position: absolute;
width: 100%;
}
.hide-overflow {
  overflow-y: scroll;
  max-width: 100%;
  }
.sun {
  z-index:1;
  max-width: 100px;
  left: 60%;
  position: absolute;
  top: 15%;
}
.flag {
  z-index:1;
  left: 20%;
  position: absolute;
  top: 40%;
}
.balloon {
  z-index:5;
  left: -100px;
  max-width: 50px;
  position: absolute;
  top: 15%;
}
.cloud-1 {
  z-index: 3;
  left: 5%;
  top:26%;
  max-width: 170px;
  position: absolute;
}
.cloud-2 {
  z-index: 12;
  max-width: 100px;
  left: 88%;
  position: absolute;
}
.cloud-3 {
  z-index: 5;
  left: 18%;
  max-width: 160px;
  position: absolute;
}
.cloud-5 {
  z-index: 11;
  left: 28%;
  max-width: 120px;
  position: absolute;
}
.cloud-4 {
  z-index: 2;
  top: 22%;
  left: 88%;
  max-width: 180px;
  position: absolute;
}
.cloud-6 {
  z-index: 6;
  top: 20%;
  left: 38%;
  max-width: 200px;
  position: absolute;
}
#page-content {
  background: #fff;
}
#icons-home {
  margin: 20px 0;
}
#first-time {
  text-shadow: 1px 1px 3px #000;
}
.white {
  text-shadow: 1px 1px 3px #000;
}
#line {
  background: url("/img/divider.png") center repeat-x;
}
#line h4 {
  display: inline-block;
  background: #fff; 
  padding: 0 10px;
}
.icon img {
  max-height: 100px;
  -webkit-transition: ease-out .3s;
  -moz-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s;
}
.icon img:hover {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  margin-top:-10px;
}
#top-hero img {
  max-height: 150px;
}
.circle {
  background: #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.bundles, .process, .showcase {
  max-height: 200px;
}
.bundles, .process, .showcase {
  -webkit-transition: ease-out .3s;
  -moz-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s;
}
.bundles:hover {
  transition-duration: .3s;
  -website-transition-duration: .3s;
  -webkit-transform:rotate(-25deg);
  -moz-transform:rotate(-25deg); 
  -o-transform:rotate(-25deg);
  margin-left: 35px;
}
.process:hover {
  transition-duration: .3s;
  -website-transition-duration: .3s;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg); 
  -o-transform:rotate(210deg);
}
.showcase:hover {
  transition-duration: .3s;
  -website-transition-duration: .3s;
  margin-top: -50px;
  -webkit-transform:rotate(-45deg);
    width: 300px;
  -moz-transform:rotate(-45deg); 
  -o-transform:rotate(-45deg);
}
#getting-started .panel {
  height: 200px;
}
#top-hero {
  background: #239dd7;
  padding: 40px;
}
#top-hero h1 {
  color: #fff;
}
#top-hero h1 {
  font-size: 28px;
}
#footer {
  background: #239dd7;
  padding: 20px 0 0;
}
#clouds {
  background: transparent url("/img/footer-bg.png") top repeat-x;
  padding: 20px 0 0;
}
#testimonials-home {
}
#testimonials-home h2 {
  margin-top: 25px;
  font-size: 1.75rem;
}
.copyright {
  background: #239dd7;
  font-size: 12px;
  color: #fff;
  text-align:center;
  padding: 15px 0 5px;
}
.copyright a {
  color: #fff;
}
#getting-started {
  width: 100%;
  background: #239dd7;
  padding: 20px;
}
.subhead {
  font-size: 14px;
}
.slicknav_menu {
  background: #239dd7;
}
#top-hero h3 {
  color: #fff;
}
#top-hero p {
  color: #fff;
  font-size: 20px;
}
.start-icon {
  max-height: 150px;
}
.shadow {
  text-shadow: 1px 1px 3px #000;
}
#overview {
  background: #f4f4f4;
  width: 100%;
}
.process-orbit li .white-bg{
  color: #000 !important;
}
#steps a{
  width: 100%;
}
.white-bg {
  background: #fff;
  color: #239dd7;
  font-weight: bold;
}
#footer-board, #footer-form {
  background: #fff;
  width: 100%;
  padding: 20px;
  border: 1px solid #d1d1d1;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
}
#footer-board ul {
  list-style: none;
}
#footer-board ul li {
  padding: 5px 0 0 ;
}
