---
layout: default
title: Applications
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/apps-icon-white.png">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>Web Applications</h1>
          <p>Solve unique business problems and generate new revenue using custom built software that can be accessed from desktop computers, phones, and tablets.</p>
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!--
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Ruby on Rails + Ember.js</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>8+ Weeks</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price Range</p>
          <h3>$5,000 - $25,000+</h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-50">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>What can you do with custom software?</h2>
        <p>Custom software can help businesses stay ahead in todays ever-evolving marketplace. Web applications can solve complex business problems or eliminate repetitive tasks.
        </p>
        <hr />
      <p>
      <strong>
      <em>
      Example Types of Applications:
      </em>
      </strong>
      </p>
        <ul class="large-block-grid-4 text-center">
          <li>Data Entry App</li>
          <li>Applicant Screening Platform</li>
          <li>Custom Relationship Manager</li>
          <li>Custom Data Visualizations</li>
          <li>Cloud Software</li>
          <li>Exclusive Membership Portals</li>
          <li>Market Research Apps</li>
          <li>Job Automation</li>
        </ul>
        </div>
        <hr>
      </div>

      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Simple Applications</h2>
        <p>Simple Applications are used for data collection and storage. They consist of data collection forms paired with a databases for easy storage and accessibility. Simple web applications are the perfect solution for a business that needs simple data entry and storage. 
        </p>
        </div>
        <hr>
      </div>
      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Professional (UX) Applications</h2>
        <p>In addition to data collection and storage, Professional Applications manipulate data to create appealing displays that give a user an interactive experience. Most Professional Applications have a user authentication systems for creation of user accounts and dashboards. 
        </p>
        </div>
        <hr>
      </div>
      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Enterprise Applications</h2>
        <p>Enterprise Applications are built for rapid internal growth and exposure. These applications have strong focus on user-experience, security, and scalability. Typically, enterprise applications have a proprietary functionality that was developed to solve a particular problem for the business.
        </p>
        </div>
        <hr />
      </div>

      <div class="row mt-30">
       {% include cta-form.html %}
      </div>




    </section> 

