---
layout: default
title: Contact Us
---
    


    <section id="top-hero">
      <div class="row text-center">
        <div class="large-4 medium-4 columns">
          <img class="start-icon" src="/img/start-online.png">
          <h3 class="shadow">Get Started Online</h3>
          <p class="small-text">Tell us about your business goals by filling a form out online, and we'll reach out to you to finish the process.
          </p>
          <a href="#contact_form" class="button small round white-bg">Get Started Now</a>
        </div>
        <div class="large-4 medium-4 columns">
          <img class="start-icon" src="/img/start-phone.png">
          <h3 class="shadow">Get Started By Phone</h3>
          <p class="small-text">Call 317-537-7483 to talk to someone during normal business hours and we'll walk you through all of your options.</p>
          <a href="#" class="button small round white-bg">Call Us</a>
        </div>
        <div class="large-4 medium-4 columns">
          <img class="start-icon" src="/img/start-person.png">
          <h3 class="shadow">Get Started in Person</h3>
          <p class="small-text">Want to meet us before you get started? No problem. Give us a call and we'll schedule a time to meet in person.</p>
          <a href="#contact_form" class="button small round white-bg">Schedule a Meeting</a>
        </div>
      </div>

      </div>
    
    </section> 
    <section id="page-content">
      <div class="row mt-50">
        <div class="large-8 medium-8 columns">
          <h1>Contact Us</h1>

          {% include contact-form.html %}
 
        </div>
        <div class="mt-10 large-4 medium-4 columns">
          <h3>Indianapolis Web Co.</h3>

    <div id="footer-board">
      <h4><strong>Contact Us</strong></h4>
    <ul>
      <li><strong>Hours:</strong></li>
      <li>Monday-Friday: 9am - 6pm</li>
      <li>Weekends: Appointment Only <br /></li>
      <li><strong>Phone:</strong> 317-537-7483</li>
      <li><strong>Phone:</strong> 317-537-SITE</li>
      <li><strong>Email:</strong> connect@indywebco.com</li>
      <li><a href="http://podio.com">Get Website Support</a></li>
    </ul>
    </div>
  

        </div>
      </div>
    </section> 

