---
layout: default
title: Ecommerce
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/ecommerce-icon-white.png">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>eCommerce Websites</h1>
          <p>Generate revenue from your websites by selling products and accpting credit cards safely and securely online.</p>
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!--
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Stripe + Paypal</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>3+ Weeks</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price Range</p>
          <h3>$1500 - $5000 + </h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-50">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>Are you ready to start selling online?</h2>
        <p>The world of eCommerce technologies is overcrowded and can be confusing. Every business has different needs and requirements, so picking the right setup is crucial to long term success. That's why Indianapolis Web Company offers three main types of eCommerce setups: Simple, Professional, and Robust eCommerce. Our solutions are 100% safe & secure for your clients, as well as your business.
        </p>
        </div>
        <hr>
      </div>



      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Simple eCommerce</h2>
        <p>Simple eCommerce can be integrated into any brochure website. We will design the looks and feel of your product pages, and to purchase each client will be directed to a paypal purchase link.</p>
        <p><em>$1500.00</em> (website included)</p>
        </div>
        <hr>
      </div>

      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Professional eCommerce</h2>
        <p>Professional eCommerce works best for businesses that have 30 products or less, but can be scaled to slightly higher numbers. This is the perfect entry-level option for a company that intends to acquire most of their sales online.</p>
        <p><em>$3000.00</em></p>
        </div>
        <hr>
      </div>

      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Robust eCommerce</h2>
        <p>Robust eCommerce is the scalable, professional solution for companies that are already fulfilling hundreds of orders each month. With advanced features like abandoned cart emails, product builders, and more - robust ecommerce is the most flexible solution.</p>
        <p><em>$5000.00</em></p>
        </div>
        <hr>
      </div>


      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Additional Functionality</h2>
        <p>Add more functionality to your brochure website with these add-ons:</p>
        <ul class="large-block-grid-3">
          <li>Website Hosting</li>
          <li>SSL Certificates</li>
          <li>Secure Forms</li>
          <li>Custom Product Galleries</li>
          <li>Email Newsletter Setup</li>
          <li>Abandoned Cart Recovery</li>
          <li>Social Media Account Setup</li>
          <li>Coupon Codes</li>
          <li>Flash Sales</li>
          <li>One-Page Store Integrations</li>
        </ul>
        </div>
        <hr />
      </div>

      <div class="row mt-30">
       {% include cta-form.html %}
      </div>


      </div>

    </section> 

