---
layout: default
title: Indianapolis Web Design
---

    <div id="hero">
      <h1 class="text-center">Websites and Marketing for Indianapolis</h1>
    
      <div class="hide-overflow">
      <img src="/img/cloud.png" class="cloud-1"> 
      <img src="/img/cloud.png" class="cloud-2"> 
      <img src="/img/cloud.png" class="cloud-3"> 
      <img src="/img/cloud.png" class="cloud-4"> 
      <img src="/img/cloud.png" class="cloud-5"> 
      <img src="/img/cloud.png" class="cloud-6"> 
      </div>
      <img src="/img/balloon.png" class="balloon"> 
      <img src="/img/sun.png" class="sun"> 
      <img src="img/skyline.png" id="skyline">
    <div style="clear:both;"></div>


    </div>

    <section id="page-content">
      <div class="row mt-30">
        <div id="line" class="text-center">
          <h4>Services</h4>
        </div>
      </div>
      <div id="icons-home">
    <div class="row">
      <div class="large-12 medium-12 columns">
        <ul class="small-block-grid-3 medium-block-grid-6 block-list">
          <li class="text-center icon">
            <a href="/websites.html">
            <img src="/img/websites-icon.png">
            <p class="mt-10">
            Websites
            </p>
            </a>
          </li>
          <li class="text-center icon">
            <a href="/wordpress.html">
            <img src="/img/cms-icon.png">
            <p class="mt-10">
            Wordpress
            </p>
            </a>
          </li>
          <li class="text-center icon">
            <a href="/ecommerce.html">
            <img src="/img/ecommerce-icon.png">
            <p class="mt-10">
            eCommerce
            </p>
            </a>
          </li>
          <li class="text-center icon">
            <a href="/applications.html">
            <img src="/img/apps-icon.png">
            <p class="mt-10">
            Web Apps
            </p>
            </a>
          </li>
          <li class="text-center icon">
            <a href="/search-engine-optimization.html">
            <img src="/img/seo-icon.png">
            <p class="mt-10">
            SEO
            </p>
            </a>
          </li>
          <li class="text-center icon">
            <a href="/social-media.html">
            <img src="/img/social-icon.png">
            <p class="mt-10">
            Social Media</p>
            </a>
          </li>
        </ul>
      </div>
      </div>

      <div id="getting-started">
        <div class="row">
          <h2 id="first-time" class="text-center white-text"><strong>First Time Here? Look Below:</strong></h2>
          <div class="large-4 medium-4 columns text-center p-50">
            <div class="circle">
            <a href="/process.html">
            <img class="process" src="img/process.png">
            </a>
            </div>
            <a href="/process.html">
            <h4 class="mt-30 shadow white-text">How It Works</h4>
            <p class="white-text">Learn more about how websites and our development process works.</p>
            </a>
          </div>

          <div class="large-4 medium-4 columns text-center p-50">
            <div class="circle">
            <a href="/services.html">
            <img class="bundles" src="img/bundles.png">
            </a>
            </div>
            <a href="/services.html">
            <h4 class="mt-30 shadow white-text">Services</h4>
            </a>
            <p class="white-text">Learn more about the services we offer and how they're priced.</p>
          </div>

          <div class="large-4 medium-4 columns text-center p-50">
            <div class="circle">
            <a href="/showcase.html">
            <img class="showcase" src="img/showcase.png">
            </a>
            </div>
            <a href="/showcase.html">
            <h4 class="mt-30 shadow white-text">Showcase</h4>
            </a>

            <p class="white-text">See our past work and how we've solved business problems.</p>
          </div>
        </div>
        </div>
        
        <div id="testimonials-home">
          <div class="row mt-30">
            <h2 class="text-center"><strong>Featured Work</strong></h2>

          </div>
        <div class="row">
            <ul class="example-orbit-content" data-orbit data-options="animation:fade;
                  pause_on_hover:false;
                  animation_speed:500;
                  navigation_arrows:false;
                  bullets:false;">
              <li data-orbit-slide="headline-1">
                <div class="large-6 medium-6 columns">
                  <img src="img/testimonial-1.png">
                </div>
                <div class="white-bg large-6 medium-6 columns">
                  <h2>Anita Lerche</h2>
                  <h3 class="subhead">Wordpress Website, SEO, Social Media</h3>
                  <p>Anita Lerche is a cultural phenomenon in India. She is the first non-asian woman to release an entire musical album in Punjabi. She has grown a massive following and we've helped her and her management continue to push the envelope with their website.</p>
                </div>
              </li>
              <li data-orbit-slide="headline-2">
                <div class="large-6 medium-6 columns">
                  <img src="img/testimonial-2.png">
                </div>
                <div class="white-bg large-6 medium-6 columns">
                  <h2>Improving Kids' Environment</h2>
                  <h3 class="subhead">Wordpress Website, Social Media</h3>
                  <p>Improving Kids’ Environment (IKE) was established in May of 1999 by Tom Neltner. It is a 501(c)(3) not-for-profit corporation based in Indianapolis, Indiana, that works to reduce environmental threats to children’s health. We helped them develop a Wordpress website that their can maintain themselves.</p>
                </div>
              </li>
              <li data-orbit-slide="headline-3">
                <div class="large-6 medium-6 columns">
                  <img src="img/testimonial-3.png">
                </div>
                <div class="white-bg large-6 medium-6 columns">
                  <h2>Select Equipment</h2>
                  <h3 class="subhead">Custom eCommerce, Social Media, SEO</h3>
                  <p>Specializing in new, reconditioned and obsolete electrical parts, Select Equipment is one of the industry's leading distributors. We helped develop a robust API integration with their factory POS system that allows them to update their website seamlessly from their factory. </p>
                </div>
              </li>
              <li data-orbit-slide="headline-4">
                <div class="large-6 medium-6 columns">
                  <img src="img/testimonial-4.png">
                </div>
                <div class="white-bg large-6 medium-6 columns">
                  <h2>K-IDS BMV</h2>
                  <h3 class="subhead">Custom Rails App, Website, SEO</h3>
                  <p>K-ID’S BMV is the nation’s leading provider of free and low-cost child identification cards, which help keep children safe. We helped them problem solve through their current web app, and create a new more robust and user-friendly solution.</p>
                </div>
              </li>
              <li data-orbit-slide="headline-5">
                <div class="large-6 medium-6 columns">
                  <img src="img/testimonial-5.png">
                </div>
                <div class="white-bg large-6 medium-6 columns">
                  <h2>Piro Shoes</h2>
                  <h3 class="subhead">Custom eCommerce, Social Media, SEO</h3>
                  <p>Piro Shoes is a lifestyle footwear company specializing in unique, high-quality leather shoes for both men and women. We helped Piro re-relase their brand online, with a new ecommerce experience. You can find Piro shoes on Urban Outfitters' website.</p>
                </div>
              </li>
            </ul>
        </div>

        <div class="row mt-30">
          <div class="large-12 medium-12 columns">
            <ul class="large-block-grid-5 medium-block-grid-5 small-block-grid-2">
              <li class="text-center">
            <a data-orbit-link="headline-1" >
              <img src="img/clients/anita-lerche.png">
            </a>
              </li>
              <li class="text-center">
            <a data-orbit-link="headline-2" >
              <img src="img/ike-home.png">
            </a>
              </li>
              <li class="text-center">
            <a data-orbit-link="headline-3" >
              <img src="img/clients/select-equipment.png">
            </a>
              </li>
              <li class="text-center">
            <a data-orbit-link="headline-4" >
              <img src="img/kids-bmv-home.png">
            </a>
              </li>
              <li class="text-center">
            <a data-orbit-link="headline-5" >
              <img src="img/piro-home.png">
            </a>
              </li>
            </ul>

          </div>
        </div>


    </div>
    </section> 

