---
layout: default
title: How It Works
---



<section id="top-hero">
<div class="row">
  <div class="large-2 medium-2 columns">
    <img src="/img/process-top.png">
  </div>
  <div class="large-10 medium-10 columns">

    <h1>Process</h1>
    <p>After years of testing different ways to manage projects, we've found the perfect tools and systems to make the process fun and enjoyable.</p>
  </div>
</div>

</section> 
<div id="menu">
  <div class="row">
    <ul>
      <li><a href="#hiw">How It Works</a></li>
      <li><a href="#podio">Project Management</a></li>
    </ul>
  </div>
</div>

<section id="page-content">
<div class="row mt-30">
  <h2 class="text-center" id="hiw">How It Works</h2>
</div>
<div class="row mt-40">
  <div class="large-12 medium-12 columns">
    <p class="hide-for-medium-up">Swipe to See Steps <img src="img/swipe-right.png"></p>
    <ul class="hide-for-small large-block-grid-6 medium-block-grid-6" id="steps">
      <li>
    <a data-orbit-link="step-1" class="small button">1. Talk to Us</a>
      </li>
      <li>
    <a data-orbit-link="step-2" class="small button">2. Planning</a>
      </li>
      <li>
    <a data-orbit-link="step-3" class="small button">3. Design</a>
      </li>
      <li>
    <a data-orbit-link="step-4" class="small button">4. Coding</a>
      </li>
      <li>
    <a data-orbit-link="step-5" class="small button">5. Optimize</a>
      </li>
      <li>
    <a data-orbit-link="step-6" class="small button">6. Launch</a>
      </li>
  </ul>

  <div class="row">
    <ul class="process-orbit" data-orbit data-options="navigation_arrows: false;animation_speed:800; pause_on_hover: false; next_on_click: false;slide_number: false; bullets: false;">
      <li data-orbit-slide="step-1">
      <div class="white-bg large-4 medium-4 columns">
        <h2>1. Your First Meeting</h2>
        <p>Every project starts with an intial consultation. Meet one of our account managers for coffee and we'll help walk you through your project options. </p>
        <p>For clients out of state, or clients on a time-constraint, this meeting can take place over the phone or on Google Hangouts.</p>
      </div>
      <div class="white-bg large-8 medium-8 columns">
        <img src="img/process-1.jpg" alt="slide 1" />
        
      </div>
      </li>
      <li data-orbit-slide="step-2" class="active">
      <div class="white-bg large-4 medium-4 columns">
        <h2>2. Planning</h2>
        <p>Planning is a crucial part of creating an effective web presence. After understanding your goals, we're able to put together a full-circle plan to help make your goals become a reality.</p>
        <p>We map out all the pages and steps for you website.</p>
      </div>
      <div class="large-8 medium-8 columns">
        <img src="img/process-2.jpg" alt="slide 1" />
        
      </div>
      
      </li>
      <li data-orbit-slide="step-3">
      <div class="white-bg large-4 medium-4 columns">
        <h2>3. Design</h2>
        <p>After we've planned out the organization and architecture of your website, we dive right into Photoshop and start designing the look and feel of your website.</p>
        <p>For Templated websites, this step is when you choose your template and discuss ideas. For Small Business Professional websites and above, every single page is given to you as a PDF preview for approval.</p>
      </div>
      <div class="large-8 medium-8 columns">
        <img src="img/process-3.jpg" alt="slide 1" />
        
      </div>
      
      
      </li>
      <li data-orbit-slide="step-4">
      <div class="white-bg large-4 medium-4 columns">
        <h2>4. Coding</h2>
        <p>Every project requires a different amount of code and technical problem solving. In general, websites and wordpress only require a minimal amount of coding (1-2 weeks), but applications can take much longer to code and finish. </p>
        <p>Coding is where the functionality of your website comes to life. You'll finally get to see your PDF designs working in a browser.</p>
      </div>
      <div class="large-8 medium-8 columns">
        <img src="img/process-4.jpg" alt="slide 1" />
        
      </div>
      
      
      </li>
      <li data-orbit-slide="step-5">
      <div class="white-bg large-4 medium-4 columns">
        <h2>5. Optimization</h2>
        <p>Once your website has been designed, tested, and approved for launch, we will begin to optimize it and prepare for launch. We take the time to clean up all of your metadata so that Google can get a clear picture of your website.</p>
        <p>If you're starting a marketing campaign with us, this is when we plan the implementation and market approach.</p>
      </div>
      <div class="large-8 medium-8 columns">
        <img src="img/process-5.jpg" alt="slide 1" />
        
        
      </div>
      
      
      </li>
      <li data-orbit-slide="step-6">
      <div class="white-bg large-4 medium-4 columns">
        <h2>6. Launch</h2>
        <p>When your website and online presence is ready for release, we plan the event and make sure everything goes smoothly.</p>
        <p>The launch process typically takes a matter of minutes for websites, and can take a few days of testing for web applications.</p>
      </div>
      <div class="large-8 medium-8 columns">
        <img src="img/process-6.jpg" alt="slide 1" />
        
      </div>
      
      
      </li>
    </ul>
  </div>

        </div>
      </div>
      <hr>
      <div class="row mt-30">
      <h2 class="text-center">Project Management Made Simple</h2>
      </div>
      <div class="row mt-40">
        <div id="podio" class="large-4 medium-4 columns">
          <h4>Podio Helps With:</h4>
          <p>We use Podio as our client portal for all our communications during and after a project. Using Podio's mobile app, our clients are able to login and contact us for support anytime of the day.</p>
          <ul>
            <li>Live Chat</li>
            <li>Feedback</li>
            <li>Deliverables</li>
            <li>Support</li>
          </ul>
</div>
        <div class="large-8 medium-8 columns">
          <img src="/img/podio.png">
        </div>
      </div>
  
    </section> 

