---
layout: default
title: Search Engine Optimization
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/seo-icon-white.png">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>Search Engine Optimization</h1>
          <p>Search Engine Optimization, SEO, is the art of making your business easily accessible through the search engines.</p>
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!--
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Woorank + SEO Moz</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Avg. Turnaround</p>
          <h2>Varies</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price</p>
          <h3>$500 - $5000+</h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-50">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>How do you rank first in the search engines?</h2>
        <p>Search Engine Optimization is the internet's oldest form of inbound marketing. In the last five years Google has made considerable changes in creating a more intuitive search engine. To dominate competition in modern search engines, brands must have both an optimized website and a content strategy. 
        </p>
        </div>
        <hr />
      </div>




      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>SEO Setup</h2>
        <p>SEO setups are the perfect option for the entrepreneur that wants to be pointed in the right direction with SEO. Get all of the tools need to get up and running, including: Google Analytics, Google Webmaster Tools, Bing Webmaster Tools, and internal optimization on your website.</p>
        <p><em>$500.00</em></p>
        </div>
        <hr />
      </div>

      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>SEO Campaigns</h2>
        <p>Our SEO campaigns are the perfect option for the growing business or busy entrepreneur that doesn't have the time to think about their SEO. We'll develop your content, strategy, implementation, and market penetration plan, all the while tracking, reporting, and improving your SEO without you blinking an eye.</p>
        <p><em>$3000.00</em></p>
        </div>
        <hr />
      </div>



      <div class="row mt-30">
       {% include cta-form.html %}
      </div>



    </section> 

