---
layout: default
title: Services
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/services.png">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>Services</h1>
          <p>Indianapolis Web Company is a full service web development and marketing company. Our team offers every service needed to build your business online.</p>
      </div>
      </div>
    
    </section> 
{% include services_menu.html %}
    <section id="page-content">

      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="/websites.html">
          <img src="/img/websites-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="websites.html">Websites</a></h2>
          <p>Websites are the digital voice of your small business online. We build websites that focus on customer experience, local accessibility, and modern technology. All of our websites are optimized for modern devices, including smart phones, tablets, and desktop computers.</p>
      </div>
      <hr>
      </div>
      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="/wordpress.html">
          <img src="/img/cms-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="wordpress.html">Wordpress</a></h2>
          <p>Wordpress is the internet's leading content management system (CMS). A CMS allows the website owner to login to a password-protected area and create/edit content. Our Wordpress development process allows us to give small businesses complete control of their website.</p>
      </div>
      <hr>
      </div>
      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="/ecommerce.html">
          <img src="/img/ecommerce-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="ecommerce.html">eCommerce</a></h2>
          <p>Selling products and accepting payments on your website is a key function to any modern web presence. In today's internet, there are many choices for ecommerce that can be both cost effective and dependable. We help all business types get up and running with digital commerce.</p>
      </div>
      <hr>
      </div>
      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="applications.html">
          <img src="/img/apps-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="applications.html">Web Applications</a></h2>
          <p>Cloud-based web development means we can create custom built tools for your business that are accessible from anywhere with internet, including mobile devices. We use custom software to help small businesses save money, be more productive, and gain an advantage in the marketplace.</p>
      </div>
      <hr>
      </div>
      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="search-engine-optimization.html">
          <img src="/img/seo-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="search-engine-optimization.html">Search Engine Optimization</a></h2>
          <p>Search Engine Optimization (SEO), is the process of making your business more accessible to search engines and achieving higher rankings in relevant searches. We help small businesses get found easier and more often by local customers. </p>
      </div>
      <hr>
      </div>
      <div class="row mt-40">
        <div class="large-2 columns">
          <a href="social-media.html">
          <img src="/img/social-icon.png">
        </a>
        </div>
        <div class="large-10 columns">
          <h2><a href="/social-media.html">Social Media</a></h2>
          <p>Social Media marketing has become the modern day word-of-mouth. We help businesses craft their voice, understand their tools, and publish content that will engage current and potential customers. Social media truly is a powerful tool for small business.</p>
      </div>
      <hr>
      </div>
    
    </section> 

