---
layout: default
title: Client Showcase
---



<section id="top-hero">
  <div class="row">
    <div class="large-2 medium-2 columns">
      <img src="/img/showcase-top.png">
    </div>
    <div class="large-10 medium-10 columns">

      <h1>Showcase</h1>
      <p>Take a look at some of our most recent work below. If you need specific business references, please call us at 317-537-7483. </p>
    </div>
  </div>

</section> 
<section id="page-content">
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://robysplumbing.com" target="new">
            <img src="img/roby.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Roby's Plumbing</h3>
          <p>
          <p>Roby’s Plumbing is a Central Indiana plumbing and appliance service company. After 60 years in business, Roby’s Plumbing was looking to update to a responsive website and improve their SEO strategy. </p>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://myrmidoninc.com" target="new">
            <img src="img/myrmidon.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Myrmidon Inc.</h3>
          <p>Myrmidon Industries is a supply chain management company that focuses primarily on their patented shipping containers called Blokcages. To improve sales and exposure, Myrmidon needed a website that informed potential clients about their products and allowed constituents
          to order product directly off the site. 
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://laserscribe.com" target="new">
            <img src="img/laserscribe.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Laserscribe</h3>
          <p>Laserscribe is a midwest powerhouse for laser engraving. Updating their web presence with responsive design, creating better organization of content, and simplifying their overall message was their primary focus. 
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://rustycooley.com" target="new">
            <img src="img/rusty.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Rusty Cooley</h3>
          <p>Rusty Cooley is an influential guitarists known for his signature products, speed, technique, and teaching methods. Rusty needed a responsive website that offered a way to optimize sales of signature products, gain leads for guitar lessons, and inform fans with updates. 
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://lsrconstructionllc.com" target="new">
            <img src="img/lsr.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>LSR Construction</h3>
          <p>LSR Construction is a family owned Indianapolis residential contracting business. LSR’s first website was created two years ago by Indy Web Co. When they were ready to update their site, the owners of LSR Construction came back for round two. This time, LSR wanted a site that increased engagement, improved their SEO, and positioned them above their competitors. 
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://selectequipment.net" target="new">
            <img src="img/select-equipment.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Select Equipment</h3>
          <p>Select Equipment is one of the nation's leading providers of reconditioned electrical parts. We were entering a competitive market, with little resources, when beginning this project. We were able to integrate their 14,000+ products in their POS to Bigcommerce, so that they could manage their internet store seamlessly.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://ikecoalition.org" target="new">
            <img src="img/ike.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>IKE Coalition</h3>
          <p>Improving Kids’ Environment (IKE) was established in May of 1999 by Tom Neltner. It is a 501(c)(3) not-for-profit corporation based in Indianapolis, Indiana, that works to reduce environmental threats to children’s health. We helped them develop a Wordpress website that their can maintain themselves.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="testimonial">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://anitalerche.com" target="new">
            <img src="img/anita.png">
          </a>
        </div>
        <div class="large-8 medium-8 columns">
          <h3>Anita Lerche</h3>
          <p>
          <p>Anita Lerche was the first non-asian woman to release an entire album in Punjabi. Since then, she has become a cultural phenomenon throughout India and the world, amassing over 15 Million Youtube views. We've worked closely with Anita on her website and social media over the last few years.</p>
          </p>
        </div>
      </div>
    </div>

  </div>

</section> 
{% include modals.html %}
