---
layout: default
title: Social Media
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 large-offset-1 medium-2 columns">
      <img src="/img/social-icon-white.png">
        </div>
        <div class="large-8 medium-8 columns">
          <h1>Social Media</h1>
          <p>Your target market is online and available. Use social media to connect with new customers.</p>
      </div>
      <div class="large-1 columns"></div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!--
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Buffer + Hootsuite</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>Varies</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price Range</p>
          <h3>$500 - $3000+ </h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-50">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>Where do you find new customers on social media?</h2>
        <p>Social media is one of the most powerful marketing tools currently available for businesses of all sizes. Small businesses can offset large budgets by putting in the 'sweat equity' needed to be successful online. By utilizing local search filters and relative content, businesses are able to target specific demographics for optimal results.
        </p>
        </div>
        <hr />
      </div>



      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Social Media Setups</h2>
        <p>Social Media Setups create the foundation for a solidified brand across all relevant social media networks. Our social media setup includes creating your profile, optimizing it for specific keywords, and offering advice on how to place your profile locally. After your setup is complete, you can get right to building awareness for your brand. 
        </p>
        <p>
        <em>
          Starting at $500.00
        </em>
        </p>
        </div>
        <hr />
      </div>
      <div class="row mt-20">
      <div class="large-12 medium-12 columns">
        <h2>Social Media Campaigns</h2>
        <p>Don't have the time or knowledge to run your own social media? Our Social Media Campaigns allow you to focus on your business while we handle your content strategy, posting, replies, and strategic growth on social media.
        </p>
        <p>
        <em>
          Starting at $3000.00
        </em>
        </p>
        </div>
        <hr />
      </div>

      <div class="row mt-30">
       {% include cta-form.html %}
      </div>


    </section> 

