---
layout: default
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/websites-icon.png" style="float:left;">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>Websites</h1>
          <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>HTML/CSS/JS</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>Avg. 3 Weeks</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price</p>
          <h3>Starting at $1200</h3>

        </div>
      </div>
      </div>


      <div class="row mt-50">
      <div class="large-12 medium-12 columns">
        <h2>Overview</h2>
        <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      
        </p>
        </div>
      </div>

      <div class="row mt-50">
      <div class="large-12 medium-12 columns">
        <h2>One Page Websites</h2>
        <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      
        </p>
        <p><em>$1200.00</em></p>
        </div>
      </div>
      <div class="row mt-50 text-center">
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
      </div>


      <div class="row mt-50">
      <div class="large-12 medium-12 columns">
        <h2>Brochure Websites</h2>
        <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p><em>$1500.00</em></p>
        </div>
      </div>

      <div class="row mt-50 text-center">
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
        <div class="large-4 medium-4 columns">
          <img src="img/devices.jpg">
        </div>
      </div>

      <div class="row mt-50">
        <div class="large-12 columns">
          <h1>Get Started Online</h1>
          <div class="panel" style="height:400px;">
          </div>

        </div>
      </div>
    </section> 

