---
layout: default
title: Websites
---
    


    <section id="top-hero" class="p-50">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/websites-icon-white.png">
        </div>
        <div class="large-8 medium-8 columns">

          <h1>Websites</h1>
          <p>Build a website that connects with your audience and becomes atool for your business growth.</p>
      </div>
      <div class="large-1 medium-1 columns">
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!--
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Bootstrap 3 / Foundation 5</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>3+ Weeks</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price Range</p>
          <h3>$750 - $5000+</h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-40">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>Which website is right for you?</h2>
        <p>Websites are the most important marketing piece for any business. There are infinite types of websites available, but Indy Web Co. refers to standard websites as Brochure Websites. Brochure websites are simple, lightweight websites that act as a digital brochure for your business.
        </p>
      </div>
        <hr>
      </div>


      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Templated Websites</h2>
        <p>Templated websites are the fastest, easiest way to get your website online. You choose the template, and we customize colors, images, and text.
        </p>
        </div>
        </div>
      <div class="row mt-20">
        <div class="large-4 medium-4 columns">
          <h4>Templated Websites:</h4>
          <ul>
            <li>Fast and easy</li>
            <li>Choose your own template</li>
            <li>Additional customization available
</li>
          </ul>
          <p><em>Starting at $700</em></p>
        </div>
        <div class="text-center large-4 medium-4 columns"></div>
        <div class="text-center large-4 medium-4 columns"></div>
        <hr>
      </div>
      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Professional Websites</h2>
        <p>Professional websites undergo a custom design and planning process before coding begins. The client will receive PDF design mocks for each page of their website.
        </p>
        </div>
      </div>
      <div class="row mt-20">
        <div class="large-4 medium-4 columns">
          <h4>Professional Websites:</h4>
          <ul>
            <li>Professionally designed in-house</li>
            <li>Client approves each design</li>
            <li>Coding begins after approval</li>
            <li>Total design control</li>
          </ul>
          <p><em>Starting at $2500</em></p>
        </div>
        <div class="large-4 medium-4 columns text-center"></div>
        <div class="large-4 medium-4 columns text-center"></div>
        <hr>
      </div>

      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Custom Web Experiences</h2>
        <p>Custom Web Experiences create value for website visitors by creating an experience that is unique and engaging. There are many ways to create additional value for website visitors, but user interactions, custom media, unique animations are a few examples.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <h4> Custom Web Experiences:</h4>
          <ul>
            <li>Planning, Design, Coding included</li>
            <li>Photo/Video can be provided</li>
            <li>Client dreams it, we design it!</li>
            <li>Be the best in your niche</li>
          </ul>
          <p><em>Starting at $5000</em></p>
        </div>
        <div class="large-4 medium-4 columns text-center"></div>
        <div class="large-4 medium-4 columns text-center"></div>
        <hr />
      </div>

      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Website Add-Ons</h2>
        <p>Add more functionality to your brochure website with these add-ons:</p>
        <ul class="large-block-grid-3">
          <li>Website Hosting</li>
          <li><a href="http://surrealcms.com">Surreal CMS</a> Setup</li>
          <li>Paypal Payments</li>
          <li>SSL Certificates</li>
          <li>Secure Forms</li>
          <li>Custom Galleries</li>
          <li>Add a blog</li>
          <li>Email Newsletter Setup</li>
          <li>Social Media Integration</li>
          <li>Add Wordpress</li>
          <li>API Integrations</li>
        </ul>
        </div>
        <hr />
      </div>


      <div class="row mt-30">
       {% include cta-form.html %}
      </div>
    </section> 

