---
layout: default
title: Wordpress
---
    


    <section id="top-hero">
      <div class="row">
        <div class="large-2 medium-2 columns">
      <img src="/img/cms-icon-white.png">
        </div>
        <div class="large-10 medium-10 columns">

          <h1>Wordpress</h1>
          <p>Harness the industry's leading Content Management System and add powerful dynamic features to your website.</p> 
      </div>
      </div>
    
    </section> 
    <section id="page-content">
      {% include services_menu.html %}
      <!-- 
      <div id="overview" class="p-20 text-center">
        <div class="row">
        <div class="large-4 medium-4 columns">
          <p class="m0">Technology</p>
          <h3>Wordpress 4.1.0</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Timeline</p>
          <h3>4+ Weeks</h3>

        </div>
        <div class="large-4 medium-4 columns">
          <p class="m0">Price</p>
          <h3>$1500 - $5000+</h3>

        </div>
      </div>
      </div>
      -->


      <div class="row mt-50">
      <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
        <div class="row">
      <div class="large-12 medium-12 columns">
        <h2>What can Wordpress do for your business?</h2>
        <p>Wordpress websites are the perfect option for businesses that want control over their website content. Wordpress allows individuals to securely login with username and password for updating information such as blogs, galleries, products, and other frequently changing content. Indy Web Co. offers "Point and Click" functionality, which allows the client to select exactly what content they'd like to control.</p>
        <p>Wordpress websites are the perfect option for businesses that want control over their website content. Wordpress allows individuals to securely login with username and password for updating information such as blogs, galleries, products, and other frequently changing content. Indy Web Co. offers "Point and Click" functionality, which allows the client to select exactly what content they'd like to control.</p>
        <p>
        </div>
        <hr />
      </div>
      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Templated Wordpress</h2>
        <p>Get up and running fast, but still professionally, using a templated Wordpress website. We will source premium templates and customize the design to fit your business.</p>

        </div>
        </div>
      <div class="row mt-20">
        <div class="large-4 medium-4 columns">
          <h4>Templated Wordpress:</h4>
          <ul>
            <li>Fast and easy</li>
            <li>Choose your own template</li>
            <li>Additional customization available</li>
            <li>Free training included</li>
          </ul>
          <p><em>Starting at $1500</em></p>
        </div>
        <div class="text-center large-4 medium-4 columns"></div>
        <div class="text-center large-4 medium-4 columns"></div>
        <hr />
      </div>
      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Professional Wordpress</h2>
        <p>Customizing Wordpress allows us to give the business owner complete control over their website and its design. By starting from scratch, we allow the business owner to pick and choose the area of their website they want to control.</p>

        </div>
      </div>
      <div class="row mt-20">
        <div class="large-4 medium-4 columns">
          <h4>Professional Wordpress:</h4>
          <ul>
            <li>Professionally designed in-house</li>
            <li>Client approves each design</li>
            <li>Coding begins after approval</li>
            <li>Client hand-picks control</li>
            <li>Training included</li>
          </ul>
          <p><em>Starting at $3000</em></p>
        </div>
        <div class="text-center large-4 medium-4 columns"></div>
        <div class="text-center large-4 medium-4 columns"></div>
        <hr />
      </div>
      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Custom Wordpress Functionality</h2>
        <p>Some companies have a need for robust data entry and custom manipulation. With Wordpress we are able to build our clients custom data-entry plugins that are both user-friendly and scalable. </p>
        </div>
      </div>
      <div class="row mt-20">
        <div class="large-4 medium-4 columns">
          <h4>Custom Wordpress Data:</h4>
          <ul>
            <li>Virtually any data works</li>
            <li>Custom forms and data entry</li>
            <li>Attach media, locations, more.</li>
            <li>Professionally designed</li>
            <li>Training included</li>
          </ul>
          <p><em>Starting at $5000</em></p>
        </div>
        <div class="text-center large-4 medium-4 columns"></div>
        <div class="text-center large-4 medium-4 columns"></div>
      <hr />
      </div>

      <div class="row mt-40">
      <div class="large-12 medium-12 columns">
        <h2>Wordpress Plugins</h2>
        <p>Wordpress has a massive catalog of useful addons called, Plugins. To see all of them <a href="https://wordpress.org/plugins/">click this link.</a></p>
        </div>
        <hr />
      </div>

      <div class="row mt-30">
       {% include cta-form.html %}
      </div>


    </section> 

