<div id="footer-form">
<div>
<div id="sucessmessage"> </div>
</div>
<div class="row">
<form action="send_email.php" method="post" id="contact_form" novalidate="novalidate">
<div class="large-4 medium-4 columns">
<label>Name*</label>
<input type="text" name="name" id="name" class="form-control"><!--?php echo $nameErr;?-->
</div>
<div class="large-4 medium-4 columns">
<label>Phone*</label>
<input type="text" name="phone" id="email" class="form-control"><!--?php echo $phoneErr;?-->
</div>
<div class="large-4 medium-4 columns">
<label>Email*</label>
<input type="text" name="email" id="email" class="form-control"><!--?php echo $emailErr;?-->
</div>
</div>
<div class="row">
<div class="large-6 medium-6 columns">
<label>Business</label>
<input type="text" name="business" id="email" class="form-control"><!--?php echo $bnameErr;?-->
</div>
  <div class="large-6 medium-6 columns">
<label>Website</label>
<input type="text" name="website" id="name" class="form-control"><!--?php echo $webErr;?-->
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
  Which area is closest to you?
  <ul class="mt-10 large-block-grid-4 medium-block-grid-4" id="checklist">
    <li><input type="checkbox" name="location[]" value="Downtown"> <label>Downtown</label></li>
    <li><input type="checkbox" name="location[]" value="Broad Ripple"> <label>Broad Ripple</label></li>
    <li><input type="checkbox" name="location[]" value="Carmel"> <label>Carmel</label></li>
    <li><input type="checkbox" name="location[]" value="Keystone"> <label>Keystone</label></li>
    <li><input type="checkbox" name="location[]" value="Fishers/Geist"> <label>Fishers/Geist</label></li>
    <li><input type="checkbox" name="location[]" value="Zionsville"> <label>Zionsville</label></li>
    <li><input type="checkbox" name="location[]" value="Beech Grove"> <label>Beech Grove</label></li>
  </ul>
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
  <label for="comments">Tell us about your business and your goals:</label>
  <textarea rows="10" name="comments" class="form-control">  </textarea>

</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
  <input type="checkbox" class="mr-20"> I want free small business marketing tips sent to me periodically.
</div>
</div>
<div class="row">
<div class="large-12 medium-12 columns">
<input class="button small my-btn shadow" type="submit" action="submit">
</div>
</div>
</form>
</div>
