<section id="footer" class="mt-50">
  <div id="clouds">

    <div class="row">
      <div class="large-4 medium-4 columns">
        <div id="footer-board">
          <h4><strong>Contact Us</strong></h4>
          <ul>
            <li><strong>Hours:</strong></li>
            <li>Monday-Friday: 9am - 6pm</li>
            <li>Weekends: Appointment Only <br /></li>
            <li><strong>Phone:</strong> 317-537-7483</li>
            <li><strong>Phone:</strong> 317-537-SITE</li>
            <li><strong>Email:</strong> connect@indywebco.com</li>
            <li><a href="http://podio.com">Get Website Support</a></li>
          </ul>
        </div>
      </div>
      <div class="large-8 medium-8 columns">
        <div id="footer-form">
          <h4 class="small-h4">Friends don't let friends have bad websites. We're your friends.<br> Submit your website below to see how we can help.</h4>
          <div>
            <div id="sucessmessage"> </div>
          </div>
          <div class="row">
            <form action="send_referral.php" method="post" id="contact_footer" novalidate="novalidate">
              <div class="large-6 medium-6 columns">
                <label>Name</label>
                <input type="text" name="name" id="name" class="form-control"><!--?php echo $webErr;?-->
              </div>
              <div class="large-6 medium-6 columns">
                <label>Website</label>
                <input type="text" name="website" id="website" class="form-control"><!--?php echo $bnameErr;?-->
              </div>
          </div>
          <div class="row">
            <div class="large-4 medium-4 columns">
              <label>Email*</label>
              <input type="text" name="email_field" id="email" class="form-control"><!--?php echo $nameErr;?-->
            </div>
            <div class="large-4 medium-4 columns">
              <label>Phone</label>
              <input type="text" name="phone" id="phone" class="form-control"><!--?php echo $phoneErr;?-->
            </div>
            <div class="large-4 medium-4 columns">
              <label>Business</label>
              <input type="text" name="business" id="business" class="form-control"><!--?php echo $emailErr;?-->
            </div>
          </div>
          <div class="row">
            <div class="large-12 medium-12 columns">
              <input class="button small my-btn shadow" type="submit" action="submit">
            </form>
            </div>
          </div>
        </div>

      </div>     
    </div>     
  </div>     
  </div>     
</section>

    <div class="copyright">
      © Copyright 2015 Indianapolis Web Company, LLC.
      <br />
      <a href="http://unitedwebco.com" target="new">
        A United Web Company.
      </a>
    </div>

