    <div id="scripts">
      <script src="js/vendor/jquery.js"></script>
      <script src="js/foundation.min.js"></script>
      <script src="/js/jquery.zweatherfeed.js" type="text/javascript"></script>
      <script src="/js/jquery.slicknav.min.js" type="text/javascript"></script>
      <script>
$(document).foundation();
      </script>
      <!-- smooth scroll -->
      <script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

      var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top - 25
      }, 1000);
      return false;
    }
  }
  });
});
      </script>

      <script>
$(document).ready(function () {
  $('#weather').weatherfeed(['46220'], {
    unit: 'f',
    image: true,
    country: false,
    highlow: false,
    wind: false,
    humidity: false,
    visibility: false,
    sunrise: false,
    sunset: false,
    forecast: false,
    link: false
  });
});
      </script>
      <script>
$(function(){
  $('#menu').slicknav();
});
      </script>

      {% include home-scripts.html %}
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41694002-1', 'auto');
      ga('send', 'pageview');
      </script>
    </div>


