<script>
$(document).ready(function(){
  var cloud = $('.cloud-1')
  var cloud2 = $('.cloud-2')
  var cloud3 = $('.cloud-3')
  var cloud4 = $('.cloud-4')
  var cloud5 = $('.cloud-5')
  var cloud6 = $('.cloud-6')

    !function float() {
      cloud.animate({
        left: "100%",
      }, 40000, "linear");
      cloud.animate({
        left: 0
      }, 40000, "linear");
      cloud2.animate({
        left: "-1%",
      }, 85000, "linear");
      cloud2.animate({
        left: "100%",
      }, 52000, "linear");
      cloud3.animate({
        left: -200,
      }, 25000, "linear");
      cloud3.animate({
        left: "100%",
      }, 42000, "linear");
      cloud4.animate({
        left: 0,
      }, 30000, "linear");
      cloud4.animate({
        left: "100%",
      }, 22000, "linear");
      cloud5.animate({
        left: 0,
      }, 30000, "linear");
      cloud5.animate({
        left: "100%",
      }, 52000, "linear");
      cloud6.animate({
        left: "100%",
      }, 50000, "linear");
      cloud6.animate({
        left: "-5%",
      }, 52000, "linear", float);
    }();
    });
</script>

<script>
$('#services-click').click(function() {
    $('#services-menu').slideToggle(500);
});
</script>
<script>
$(function balloon() {
  $('.balloon').delay(6500).animate({
         left: "20%",
        top: 50
              }, 13000, "linear");
  $('.balloon').animate({
         left: "40%",
        top: 30
  }, 11000, "linear");
  $('.balloon').animate({
         left: "60%",
        top: 40
              }, 10000, "linear");
  $('.balloon').animate({
         left: "80%",
        top: 60
              }, 10000, "linear");
  $('.balloon').animate({
        left: "105%",
        top: 60
  }, 20000, "linear");
  $('.balloon').animate({
        top: "-130"
  }, 1000, "linear");
  $('.balloon').animate({
        left: "-100"
  }, 1000, "linear");
  $('.balloon').animate({
        top: "18%"
  }, 500, "linear");
  balloon();
});
</script>

