<div id="myModal" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">Anitalerche.com</h2>
  <p class="text-center">SEO, Social Media, Wordpress Website</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/anita.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Different from all our other experiences.."</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://anitalerche.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>



<div id="apt" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">AmericanPrintingTech.com</h2>
  <p class="text-center">One-Page Website</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/apt.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://americanprintingtech.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>



<div id="lsr" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">LSRConstructionLLC.com</h2>
  <p class="text-center">Wordpress Website, SEO, Social Media</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/lsr.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://lsrconstructionllc.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>




<div id="bsa" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">Troop147.com</h2>
  <p class="text-center">Wordpress Website</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/bsa.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://bsa.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<div id="maxim" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">IndyDockandDoor.com</h2>
  <p class="text-center">Website, SEO, Social Media</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/maxim.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://maximservicesllc.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>




<div id="piro" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">PiroShoes.com</h2>
  <p class="text-center">Professional eCommerce, SEO, Social Media</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/piro.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://piroshoes.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>






<div id="andre" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">Andremitchell.com</h2>
  <p class="text-center">Wordpress Website, SEO</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/andre-mitchell.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://andreemitchell.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>



<div id="piro" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">SelectEquipment.net</h2>
  <p class="text-center">Robust eCommerce, SEO, Social Media</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/select.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://selectequipment.net" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>



<div id="tashan" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">TashanJewelry.com</h2>
  <p class="text-center">Website</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/tashan.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://tashanjewelry.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>



<div id="sly" class="reveal-modal full" data-reveal="">
  <div class="row">
  <h2 class="text-center">SylvesterDunn.com</h2>
  <p class="text-center">Website</p> 
  </div>
  <div class="row">
  <div class="large-6 medium-6 columns">
    <img src="/img/clients/sly-dunn.png">
  </div>
  <div class="large-6 medium-6 columns">
    <h4 class="mt-40">"Great Customer Service"</h4>
  <p>Design websiites and graphics from sketches ites and graphics from sketches ites and graphics from sketches tes and graphics from sketches and client notes to pass off to web developers.</p> 
    <a href="http://sylvesterdunn.com" target="_blank" class="secondary button">Visit Website</a>
  </div>
  </div>
 
 
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>


