      <div id="menu">
        <div class="row">
        <ul>
          <li><a href="websites.html">Websites</a></li>
          <li>
            <a href="wordpress.html">Wordpress</a>
          </li>
          <li><a href="/ecommerce.html">eCommerce</a></li>
          <li><a href="applications.html">Applications</a></li>
          <li><a href="search-engine-optimization.html">SEO</a></li>
          <li><a href="social-media.html">Social Media</a></li>

        </ul>
      </div>
      </div>
