<div id="site-map" class="row ptb-30">
            <div class="large-3 medium-3 columns">
              <ul class="footerlist">
                <li><strong>Services</strong></li>
                <li>Websites</li>
                <li>Wordpress</li>
                <li>Ecommerce</li>
                <li>Applications</li>
                <li>SEO</li>
                <li>Social Media</li>
              </ul>
      </div>
            <div class="large-3 medium-3 columns">
              <ul class="footerlist">
                <li><strong>Company</strong></li>
                <li>Home</li>
                <li>How It Works</li>
                <li>Pricing</li>
                <li>Showcase</li>
                <li>Contact</li>
                <li>Blog</li>
              </ul>
            </div>
            <div class="large-2 medium-2 columns">
              <strong>Social Media</strong>
              <ul class="mt-10 large-block-grid-2 text-center">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-facebook"></i></li>
              </ul>
            </div>
      <div id="footer-brand" class="large-4 medium-4 columns text-right">
        <img src="img/logo.png" class="footer-logo">
        <p>
        Indianapolis Web Company, LLC.
        <br />
        Phone: 317-123-1231
        <br />
        Fax: 317-123-1231
        <br />
        connect@indywebco.com
        </p>
      </div>
</div>

