<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}} - {{site.title}}</title>

    <!-- Meta -->
    <meta name="subject" content="Indianapolis Web Design, Indiana Website Design, Indianapolis Web Company, Web Developers Indianapolis, Indy Web Design" />
    <meta name="googlebot" content="index, follow" />
    <meta name="msnbot" content="index, follow" />
    <meta name="robots" content="index, follow" />
    <meta name="robots" content="noodp" />
    <meta name="robots" content="noydir" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta name="revisit-after" content="10 Days" />
    <meta name="viewport" content="width=device-width">


    <!-- stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/utilities.css" />
    <link rel="stylesheet" href="css/slicknav.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  </head>

  <body>

    <section id="header">
      <div id="top-bar"></div>
      <div id="middle">
        <div class="row">
          <div class="large-3 columns hide-for-small hide-for-medium" id="time">
            <script type="text/javascript">
function GetClock(){
  var d=new Date();
  var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear(),nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

  if(nhour==0){ap=" AM";nhour=12;}
  else if(nhour<12){ap=" AM";}
  else if(nhour==12){ap=" PM";}
  else if(nhour>12){ap=" PM";nhour-=12;}

  if(nyear<1000) nyear+=1900;
  if(nmin<=9) nmin="0"+nmin;
  if(nsec<=9) nsec="0"+nsec;

  document.getElementById('clockbox').innerHTML=""+(nmonth+1)+"/"+ndate+"/"+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
}

window.onload=function(){
  GetClock();
  setInterval(GetClock,1000);
}
            </script>
  <div id="clockbox"></div>
          </div>
          <div class="large-6 columns text-center">
            <a href="/">
              <img src="/img/logo.png">
            </a>
            <h1>Indianapolis Web Company</h1>
          </div>
          <div class="large-3 columns hide-for-medium hide-for-small" id="weather">
            <p>
            </p>
          </div>

        </div>


      </div>
      <div id="menu">
        <div class="row">
          <ul>
            <li><a href="/">Home</a></li>
            <li>
              <a id="services-click">Services</a>
            </li>
            <li class="hide-for-medium-up">
              <a href="/services.html">Services</a>
            </li>
            <li><a href="/pricing.html">Pricing</a></li>
            <!---
              <li><a href="/bundle-packages.html">Resources</a></li>
            -->
            <li><a href="process.html">How It Works</a></li>
            <li><a href="showcase.html">Showcase</a></li>
            <li><a href="contact-us.html">Contact</a></li>

          </ul>
        </div>
      </div>
      <div id="services-menu">
        <div class="row">
          <ul class="small-block-grid-3 medium-block-grid-6 block-list">
            <li class="text-center icon">
              <a href="/websites.html">
                <img src="/img/websites-icon-white.png">
                <p class="mt-10">
                Websites
                </p>
              </a>
            </li>
            <li class="text-center icon">
              <a href="/wordpress.html">
                <img src="/img/cms-icon-white.png">
                <p class="mt-10">
                Wordpress
                </p>
              </a>
            </li>
            <li class="text-center icon">
              <a href="/ecommerce.html">
                <img src="/img/ecommerce-icon-white.png">
                <p class="mt-10">
                eCommerce
                </p>
              </a>
            </li>
            <li class="text-center icon">
              <a href="/applications.html">
                <img src="/img/apps-icon-white.png">
                <p class="mt-10">
                Web Apps
                </p>
              </a>
            </li>
            <li class="text-center icon">
              <a href="/search-engine-optimization.html">
                <img src="/img/seo-icon-white.png">
                <p class="mt-10">
                SEO
                </p>
              </a>
            </li>
            <li class="text-center icon">
              <a href="/social-media.html">
                <img src="/img/social-icon-white.png">
                <p class="mt-10">
                Social Media</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {{content}}

    {% include footer.html %}


    {% include footer-scripts.html %}

  </body>
</html>

